@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-secondary: #ef863e;
  --color-primary: #2b85ff;
}

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }

  body {
    background-color: #fdfeff;
    overflow-x: hidden;
  }
}

@layer components {
  /* .input-box {
    @apply w-full text-sm bg-transparent border-[1.5px] px-5 py-3 rounded mb-4 outline-none;
  } */

  .btn-primary {
    @apply font-bold w-full text-sm bg-primary text-white p-2 rounded-xl my-1 hover:bg-blue-600;
  }

  .icon-btn {
    @apply text-xl text-slate-300 cursor-pointer hover:text-primary;
  }

  .input-label {
    @apply text-xs text-slate-400;
  }
}
